.main {
  max-width: 984px;
  margin: 92px auto 92px;
  display: flex;
  flex-direction: column;
}

.main__title {
  margin: 0;
  max-width: 830px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.1;
}

.main__subtitle {
  margin-top: 40px;
  max-width: 740px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.main__autor {
  max-width: 732px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}

.main__text {
  max-width: 722px;
  margin: 32px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .main {
    max-width: 768px;
    margin: 88px 24px;
  }

  .main__title {
    max-width: 710px;
    font-size: 45px;
    line-height: 1.2;
  }

  .main__subtitle {
    max-width: 710px;
  }
}

@media screen and (max-width: 544px) {
  .main {
    margin: 64px 16px;
  }

  .main__title {
    font-size: 32px;
    line-height: 1.2;
  }

  .main__subtitle {
    line-height: 1.1;
  }
}
